<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>home</h2>
    <h2>welcome </h2>


    <form id="upload_form" enctype="multipart/form-data" name="upload_form">
        <div>
            <label>Select file to upload</label>
            <input type="file" id="csvfile" name="csvfile" accept=".csv" required>
        </div>
        <br>
        <button type="submit">Upload</button>
    </form>

    <hr>

    <ul id="columnnames"></ul>






    <script src="app.js"></script>

</body>

</html>